.client-satisfaction {

    padding-left: 9rem;
    padding-top: 9rem;
    padding-bottom: 2.4rem;
    padding-right:15rem;
    background-color: #F8F8FA;

    img {

        
        padding-left:0rem;
    }

    
}